.serviceCard {
    position: relative;
    flex: 1;
    min-width: 300px;
    max-width: auto;
    margin: 5px 10px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
    background-color: #f9f9f9;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.serviceCard:hover {

    box-shadow:12px 12px 12px rgba(0, 0, 0, 0.1) inset, -10px -10px 10px white inset;
    
}

.serviceSectionStyle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px white
}

.serviceSectionStyle:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1) inset, -10px -10px 10px white inset;
}